/* #region GLOBAL*/

html {
    user-select: none;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

form {
    margin-top: 10px;
}

.quote-span {
    color: darkred;
    font-style: italic;
}
/*#endregion*/

/*#region USER FORM ELEMENT STYLE*/
.input-container > div, input {
    user-select: none;
    margin-bottom: 15px;
}

/* #endregion */

/* #region USER DETAILS LOG FILTER STYLE*/
.log-filter-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

    .log-filter-container > div {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .log-filter-container button {
        margin-bottom: 15px;
    }
    .log-filter-container input,
    .log-filter-container button {
        height: 35px;
    }

/* #endregion */
