@model UserManagement.Web.Models.Users.UserListItemViewModel

<h2>Create User</h2>

<div class="input-container">
    <div>
        <input type="text" asp-for="Forename" placeholder="Forename" />
    </div>
    <div>
        <input type="text" asp-for="Surname" placeholder="Surname" />
    </div>
    <div>
        <input type="text" asp-for="Email" placeholder="Email Address" />
    </div>
    <div>
        <input type="date" asp-for="DateOfBirth" placeholder="Date of Birth" />
    </div>
    <div>
        <label>
            <input type="checkbox" asp-for="IsActive" checked />
            Account Active?
        </label>
    </div>
    <div>
        <a id="create-btn" class="btn btn-primary disabled" href="#">Create</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="~/js/site.js"></script>
